header {
    text-align: center;
    margin: 0 auto;
  }
  
  body {
    text-align: center;
  }
  
  form {
    /* background-color: #f7f7f7; */
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-row .form-group {
    /* width: calc(50% - 10px); */
    margin-right: 20px;
  }
  

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"],
  select {
    box-sizing: border-box; /* add this line */
    background-color: #dde7f4;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  }

  input[type="text"].inline {
    display: inline-block;
    /* width: calc(50% - 10px); */
    margin-right: 20px;
  }
  
  .form-group {
    flex-grow: 1;
    margin-right: 20px;
  }
  
  button[type="submit"] {
    background-color: #165cbe;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    
  }
  
  @media (min-width: 1024px) {
    header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  