header {
    text-align: center; 
  }

body {
    text-align: center;
  }

  form {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto; /* set the left and right margin to "auto" to center the element horizontally */
    max-width: 1000px; /* set a maximum width to limit the width of the form */
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  select {
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M0 0l6 6 6-6z"/></svg>') no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 8px 8px;
  }
  
  button[type="submit"] {
    background-color: #165cbe;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}
